@font-face {
    font-family: DINCondensedBold;
    src: url(/font/DIN Condensed Bold.ttf);
}
*{
    font-family: DINCondensedBold;
}
#contenedor-principal{
    position: absolute;
    background: black url(/img/fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#test{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
#test .seccion{
    height: 100%;
}
.panel{
    height: 100%;
    margin-bottom: 0;
    /*background: rgba(217, 217, 217, 0.79);*/
    background: rgba(217, 217, 217, 0);
    padding-top: 20px;
    padding-bottom: 10px;
}
.clear{
    clear: both;
}
#seccion_panel1{
    padding-left: 0;
}
#panel1.active{
    background: rgba(217, 217, 217, 0.79);
}
#panel2.active{
    background: rgba(217, 217, 217, 0.79);
}
#panel3.active{
    background: rgba(217, 217, 217, 0.79);
}
#logo{
    margin-bottom: 60px;
}
.icono{
    padding: 4px 10px;
    box-shadow: 0 5px 20px 1px #404040;
    height: 45px;
    width: 50px;
    margin-right: 10px;
    background: #a8a8a8;
}
.icono:hover{
    cursor: pointer;
    background: rgba(217, 217, 217, 0.79);
}
.item .active{
    background: rgba(217, 217, 217, 0.79);
}
.item{
    margin-bottom: 30px;
}
.item span{
    color: black;
    font-weight: bold;
}
#icono-ubicacion{
    padding: 3px 15px;
}
#icono-planos{
    padding: 10px 7px;
}
#panel3{
    padding: 0;
}
#panel3 img{
    height: 100%;
}
#seccion-panel3{
    margin-top: -3px;
    padding: 0;
}

.imagenes {
display: block;
  height: auto;
  max-width: 100%;
  float: left;
  width: 65px;
}

.imagenes:hover {
display: block;
  height: auto;
  max-width: 100%;
  float: left;
  width: 75px;
  cursor: pointer;
}