@font-face {
    font-family: DINCondensedBold;
    src: url(/font/DIN Condensed Bold.ttf);
}
*{
    font-family: DINCondensedBold;
}
html {
    height: 100%;
}
body{
    background: black url(/img/fondo.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
.seccion{
    height: 100%;
}
.panel{
    height: 100%;
    margin-bottom: 0;
    background: rgba(217, 217, 217, 0.79);
    padding-top: 20px;
    padding-bottom: 10px;
}
.clear{
    clear: both;
}
#panel1{
    background: rgba(217, 217, 217, 0);
}
#panel1.active{
    background: rgba(217, 217, 217, 0.79);
}
.logo{
    margin-bottom: 60px;
}
.icono{
    padding: 4px 10px;
    box-shadow: 0 5px 20px 1px #404040;
    height: 45px;
    width: 50px;
    margin-right: 10px;
    background: #a8a8a8;
}
.icono:hover{
    cursor: pointer;
    background: rgba(217, 217, 217, 0.79);
}
.item .active{
    background: rgba(217, 217, 217, 0.79);
}
.item{
    margin-bottom: 30px;
}
.item span{
    color: black;
    font-weight: bold;
}
#icono-ubicacion{
    padding: 3px 15px;
}
#icono-planos{
    padding: 10px 7px;
}
#imagen_fondo{
    padding: 0;
    height: 100%;
    margin-bottom: 0;
}
#imagen_fondo img{
    height: 100%;
}
#seccion_imagen_fondo{
    margin-top: -3px;
    padding: 0;
}
#seccion_ubicacion2{
    background: black;
    padding: 0px 50px;
    color: white;
    font-size: larger;
}
#seccion_ubicacion2 header{
    margin-bottom: 20px;
}
#seccion_ubicacion2 footer{
    padding-left: 100px;
}
#seccion_ubicacion2_mapa{
    margin-bottom: 20px;
}
#seccion_ubicacion2_mapa img{
    display: inline;
    margin-right: 20px;
}
#seccion_ubicacion2_mapa span{
    vertical-align: bottom;

}
.imagenes {
    display: block;
    height: auto;
    max-width: 100%;
    float: left;
    width: 65px;
}

.imagenes:hover {
    display: block;
    height: auto;
    max-width: 100%;
    float: left;
    width: 75px;
    cursor: pointer;

}