@font-face {
    font-family: DINCondensedBold;
    src: url(/font/DIN Condensed Bold.ttf);
}
*{
    font-family: DINCondensedBold;
}
body{
    background: black url(/img/fondo.png) no-repeat center center fixed;
    background-size: cover;
    color: black;
}
.seccion{
    position: relative;
    top: 0;
    bottom: 0;
    padding-left: 0;
    min-width: 210px;
}
.panel{
    height: 100%;
    margin-bottom: 0;
    background: rgba(217, 217, 217, 0.79);
    padding-top: 20px;
    padding-bottom: 10px;
}
.clear{
    clear: both;
}
#panel1{
    background: rgba(217, 217, 217, 0);
}
#panel1.active{
    animation-name: example;
    animation-duration: 0.7s;
    transition: background-color 0.8s;
    background-color: rgba(217, 217, 217, 0.76);
}
@keyframes example {
    0% {background: rgba(217, 217, 217, 0.60);}
    25% {background: rgba(217, 217, 217, 0);}
    50% {background-color: rgba(92, 87, 87,0.50);}
    100% {background-color: rgba(36, 34, 34, 0.75);}
}
.logo{
    margin-bottom: 60px;
    width: 160px;
}
.icono{
    padding: 4px 10px;
    box-shadow: 0 5px 20px 1px #404040;
    height: 45px;
    width: 50px;
    background: #a8a8a8;
}
.icono:hover{
    cursor: pointer;
    background: rgba(217, 217, 217, 0.79);
}
.item .active{
    background: rgba(217, 217, 217, 0.79);
}
.item{
    margin-bottom: 30px;
}
.item span{
    color: black;
    font-weight: bold;
    margin-left: 10px;
    text-shadow: 0 0 5px white;
    position: absolute;
}
#icono-ubicacion{
    padding: 3px 15px;
}
#icono-planos{
    padding: 10px 7px;
}
#imagen_fondo img{
    height: 100%;
}
#seccion_imagen_fondo{
    padding: 0;
}
#seccion_ubicacion2{
    background: black;
    padding: 0px 50px;
    color: white;
    font-size: larger;
}
#seccion_ubicacion2 header{
    margin-bottom: 20px;
}
#seccion_ubicacion2 footer{
    padding-left: 100px;
}
#seccion_ubicacion2_mapa{
    margin-bottom: 20px;
}
#seccion_ubicacion2_mapa img{
    display: inline;
    margin-right: 20px;
}
#seccion_ubicacion2_mapa span{
    vertical-align: bottom;
}
.imagenes {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    display: block;
}

.imagenes:hover {
    cursor: pointer;
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.camara:hover{
    cursor: pointer;

}
#seccion_imagenes2{
    background: rgba(0, 0, 0, 0.58);
    padding: 0px 50px;
    color: white;
    font-size: larger;
}
}#seccion_planos1{
    font-weight: bold;
    font-size: small;
    text-align: center;
}
#seccion_planos1 ul{
    padding: 0 0px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
#seccion_planos1 li{
    list-style: none;
    padding: 10px 0px;
}
#seccion_planos1 li:hover{
    cursor: pointer;
    background: #898989;
}
#seccion_planos2{
    background: white;
}
#imagenes_play{
    width: 45px;
    height: 45px;
}
#seccion_imagenes1 .panel .row{
    margin-right: 0px;
    margin-left: 0px;
}
#img_plano{
    margin: 0;
}
#img_plano img{
    margin: 0 auto;
}
#img_plano figcaption{
    text-align: center;
    color: #4b1380;
    font-weight: bold;
}
#panel1_logo:hover{
    cursor: pointer;
}
.oculto{
    display: none;
}